{{#if carrito.length }}
    <button class="btn__enviarCarrito" onclick="carritoController.enviarCarrito()">Enviar</button>
    <div></div>
    <table id="tabla-carrito">
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th>Envio</th>
            <th>Acción</th>
        </tr>
        {{#each carrito}}
            <tr>
                <td>
                    <img style="display:block; margin: 0 auto;" src="{{imagen}}" width="50" alt="{{nombre}}"> 
                </td>
                <td>{{nombre}}</td>
                <td>{{precio}}</td>
                <td>{{marca}}</td>
                <td>{{cantidad}}</td>

                {{#if envio}}
                    <td>Si</td>
                {{else}}
                    <td>No</td>
                {{/if}}
                <td>
                    <img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-delete-multimedia-kiranshastry-lineal-kiranshastry.png"
                    onclick="carritoController.borrarProductoCarrito({{id}})"
                    id="delete-icon"/>
                </td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <div class="vacio">
        <h2>El carrito está vacío</h2>
    </div>
{{/if}}
<img id="carrito-fondo" src="../img/carrito.png" alt="">