{{#each listado}}
    <div class="card {{this.categoria}} visible " onclick="agregarCarrito(event,{{id}},this)">
        <article class="card__article">
            <div 
                class="card__image"
                style="background-image: url('{{{this.imagen}}}');"
            >
            </div>

            <div class="card__content">
                <h3 class="card__heading">{{this.nombre}}</h3>

                <div>
                    <p>{{this.descripcion}}</p>
                </div>
                
                <div class="card__price">
                    <p>${{{this.precio}}}</p>
                </div>
            </div>
        </article>
    </div>
{{/each}}