{{#if productos.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Descripcion</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <th>Envio</th>
            <th>Vendedor</th>
            <th>Email</th>
            <th>Accion</th>
        </tr>
        {{#each productos}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{marca}}</td>
                <td>${{precio}}</td>
                <td>{{stock}}</td>
                <td>{{descripcion}}</td>
                <td>{{categoria}}</td>
                <td>
                    <img style="display: block; margin: 0; auto;" width="50" src="{{imagen}}" alt="{{nombre}}">
                </td>
                {{#if envio}}
                    <td>Si</td>
                {{else}}
                    <td>No</td>
                {{/if}}
                <td>{{vendedor}}</td>
                <td>{{email}}</td>
                <td>
                    <img class="botonProductoActualizar invalido" src="https://img.icons8.com/ios-glyphs/60/000000/approve-and-update--v1.png"
                    onclick="productoController.actualizarProducto({{id}})" disabled
                    >

                    <img class="botonProductoBorrar" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-delete-multimedia-kiranshastry-lineal-kiranshastry.png"
                    onclick="productoController.borrarProducto({{id}})"/>
                </td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <h2>No se encontraron productos</h2>
{{/if}}